@use '../abstracts' as a;

.quiz__subjects-form {
    margin-block-start: a.rem(40);
    line-height: 1;
    @include a.flexbox($direction: column, $gap: clamp(0.75rem, 0.0344rem + 3.0534vw, 1.5rem));
    color: var(--subject-form-text);
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);

    @include a.bp($from: "desktop") {
        margin-block-start: 0;
    }

}

.quiz__subject-label {
    @include a.flexbox($align: center, $gap: a.rem(16));
    width: 100%;
    background-color: var(--subject-form-label-bg);
    border-radius: a.rem(12);
    border: 1.5px solid transparent;
    outline: 0;
    transition: all 0.2s ease-in-out;


    img {
        margin: a.rem(12);
        border-radius: a.rem(6);
        width: a.rem(40);
        padding: a.rem(5.8);
    }

    &:hover,
    &:focus,
    &:focus-visible {
        border: var(--purple-border);
    }
}

.quiz__subject-img {
    $subjects: (
        html: var(--red-light),
        css: var(--green-light),
        js: var(--blue-light),
        a11y: var(--purple-light)
    );

@each $subject, $color in $subjects {
    &--#{$subject} {
        background-color: #{$color};
    }
}
}