@use '../abstracts' as a;

.quiz-header {
    @include a.flexbox($align: center, $justify: space-between);
}

.quiz__subject-heading-container {
    @include a.flexbox($align: center, $gap: a.rem(16));
    font-size: clamp(1.125rem, 0.5286rem + 2.5445vw, 1.75rem);
    font-weight: var(--fw-medium);
    color: var(--subject-heading-container-text);

    img {
        border-radius: a.rem(6);
        width: a.rem(40);
        padding: a.rem(5.8);
        flex-shrink: 0;
    }
}