@use '../abstracts' as a;
@use '../components/buttons';

.quiz__question-meta {
    font-size: var(--fs-xsmall);
    font-style: italic;
    color: var(--question-count-text);
    font-weight: var(--fw-regular);
}

.quiz__question-header {
    @include a.flexbox($direction: column, $gap: a.rem(12));
    margin-block-end: a.rem(24);

    .quiz__info p {
        @extend .quiz__question-meta;
    }

    .quiz__question-count {
        @extend .quiz__question-meta;
    }

    .quiz__question {
        color: var(--question-text);
        font-size: var(--fs-large);
        font-weight: var(--fw-medium);
    }
}

.quiz__progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: a.rem(16);
    margin-block-end: a.rem(40);

    // for Firefox
    background-color: var(--progress-bar-bg);
    border: none;
    border-radius: a.rem(10);
    @include a.flexbox($align: center, $justify: center);

    // Chrome & Safari
    &::-webkit-progress-bar {
        background-color: var(--progress-bar-bg);
        border-radius: a.rem(10);
        padding: a.rem(4);
    }

    &::-webkit-progress-value {
        background-color: var(--progress-bar-value-bg);
        height: a.rem(8);
        border-radius: inherit;
    }

    // Firefox
    &::-moz-progress-bar {
        background-color: var(--progress-bar-value-bg);
        height: a.rem(8);
        border-radius: a.rem(10);
        margin-block-start: a.rem(4);
        margin-inline: a.rem(4);
    }

    &::-moz-progress-inner-element {
        background-color: black;
    }
}

.quiz__choices-form {
    line-height: 1;
    @include a.flexbox($direction: column, $gap: clamp(0.75rem, 0.0344rem + 3.0534vw, 1.5rem));
    color: var(--choices-form-text);
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);

    label:has(input:checked) {
        border: var(--purple-border);
    }

    label.correct {
        border: var(--green-border);
    }

    label.incorrect {
        border: var(--red-border);
    }

    .correct>input:is(:checked)+span {
        background-color: var(--Shamrock);
        color: var(--White);
    }

    .incorrect>input:is(:checked)+span {
        background-color: var(--Burnt-Sienna);
        color: var(--White);
    }
}

.quiz__choice-label {
    border: 1.5px solid transparent;
    background-color: var(--choice-label-bg);
    min-width: 0;
    @include a.flexbox($align: center, $gap: a.rem(16));
    border-radius: a.rem(12);
    transition: all 0.2s ease-in-out;
    padding-inline: a.rem(5);

    &:has(input:checked) {
        border: var(--purple-border);

        .quiz__choice-option {
            color: var(--input-is-checked-span-text);
            background-color: var(--input-is-checked-span-bg);
        }
    }

    &:is(:active, :hover, :focus) {
        cursor: pointer;
        border: var(--purple-border);

        .quiz__choice-option {
            color: var(--choice-option-hover-text);
            background-color: var(--choice-option-hover-bg);
        }
    }

    img {
        margin-inline-start: auto;
        background-color: transparent;
    }

    &:focus-visible {
        outline: var(--choice-label-outline);
    }
}

.quiz__choice-option {
    @include a.flexbox($align: center, $justify: center);
    background-color: var(--choice-option-bg);
    color: var(--choice-option-text);
    border-radius: a.rem(6);
    margin-block: a.rem(12);
    margin-inline-start: a.rem(12);
    width: clamp(2.5rem, 1.5458rem + 4.0712vw, 3.5rem);
    padding-block: clamp(0.6875rem, 0.5086rem + 0.7634vw, 0.875rem);
    padding-inline: clamp(0.875rem, 0.6365rem + 1.0178vw, 1.125rem);
}

.quiz__submit-btn {
    @extend %quiz-button;
    background-color: var(--submit-btn-bg);
    color: var(--submit-btn-text);
    padding-block: a.rem(18);

    &:is(:active, :hover, :focus) {
        background-color: var(--submit-btn-hover-bg);
    }

    &:focus-visible {
        outline: var(--submit-btn-outline);
    }
}

.quiz__error {
    @include a.flexbox($align: center, $justify: center, $gap: a.rem(12));
    font-size: var(--fs-medium);
}