@use '../abstracts' as a;

.quiz__complete-header {

    h1 {
        font-size: var(--fs-xlarge);
        font-weight: var(--fw-light);
        line-height: 1.2;
    }
}

.quiz__complete-container {
    @include a.flexbox($direction: column, $gap: clamp(0.75rem, -0.4427rem + 5.0891vw, 2rem));
}

.quiz__final-score-container {
    @include a.flexbox($direction: column, $align: center, $gap: a.rem(16));
    background-color: var(--Fiord);
    padding-block: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
    border-radius: a.rem(12);

    .quiz__final-score {
        color: var(--White);
        font-size: var(--fs-2xlarge);
        line-height: 1;
        font-weight: var(--fw-medium);
    }

    .quiz__total-score {
        color: var(--Periwinkle-Gray);
        font-size: var(--fs-medium);
        line-height: 1;
    }
}

.quiz__play-again-btn {
    font-size: var(--fs-medium);
    border: 1.5px solid transparent;
    background-color: var(--Electric-Violet);
    color: var(--White);
    line-height: 1;
    border-radius: a.rem(12);
    padding-block: a.rem(18);
    font-weight: var(--fw-medium);
    transition: 0.2s ease-in-out;

    &:active,
    &:hover,
    &:focus {
        cursor: pointer;
        border: 1.5px solid var(--Electric-Violet);
        background-color: var(--purple-dark);
    }
}