@use '../abstracts' as a;

.quiz {
    padding-block-start: a.rem(60);

    &__intro-title {
        font-size: var(--fs-xlarge);
        font-weight: var(--fw-light);
        line-height: 1.2;
        color: var(--intro-title-text);
    }

    &__intro-subtitle {
        font-size: var(--fs-xsmall);
        font-style: italic;
        margin-block-start: a.rem(20);
        color: var(--intro-subtitle-text);
    }
}