@use '../abstracts' as a;
@use '../components/buttons';

.quiz__complete-header {

    h1 {
        font-size: var(--fs-xlarge);
        font-weight: var(--fw-light);
        line-height: 1.2;
        color: var(--quiz-complete-header-text);
    }
}

.quiz__complete-container {
    @include a.flexbox($direction: column, $gap: clamp(0.75rem, -0.4427rem + 5.0891vw, 2rem));
}

.quiz__final-score-container {
    @include a.flexbox($direction: column, $align: center, $gap: a.rem(16));
    background-color: var(--final-score-container-bg);
    padding-block: clamp(2rem, 1.0458rem + 4.0712vw, 3rem);
    border-radius: a.rem(12);

    .quiz__final-score {
        color: var(--final-score-text);
        font-size: var(--fs-2xlarge);
        line-height: 1;
        font-weight: var(--fw-medium);
    }

    .quiz__total-score {
        color: var(--total-score-text);
        font-size: var(--fs-medium);
        line-height: 1;
    }
}

.quiz__play-again-btn {
    @extend %quiz-button;
    background-color: var(--play-again-btn-bg);
    color: var(--play-again-btn-text);
    padding-block: a.rem(18);

    &:is(:active, :hover, :focus) {
        background-color: var(--play-again-btn-hover-bg);
    }

    &:focus-visible {
        outline: var(--play-again-btn-outline);
    }
}