@use '../abstracts' as a;

.toggle-container {
    @include a.flexbox($align: center, $justify: flex-end, $gap: a.rem(8));

    svg {
        width: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
        height: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
    }

    .sun-dark,
    .moon-dark {
        display: none;
    }

    .sun-light,
    .moon-light {
        display: inline-block;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: a.rem(45);
    height: a.rem(24);

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:focus+.slider {
            box-shadow: 0 0 1px var(--purple);
        }

        &:not(:checked)+.slider {
            background-color: var(--input-not-checked-slider-bg);

            &:hover {
                background-color: var(--input-not-checked-slider-hover-bg);
            }
        }

        &:checked+.slider {
            background-color: var(--input-checked-slider-bg);


            &::before {
                transform: translateX(20px);
            }

            &:hover::before {
                background-color: var(--input-checked-slider-hover-bg);
            }
        }
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--slider-bg);
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: a.rem(18);
        width: a.rem(18);
        left: a.rem(3.68);
        bottom: a.rem(3);
        background-color: var(--slider-before-bg);
        -webkit-transition: .4s;
        transition: .4s;
    }

    &:hover::before {
        background-color: var(--slider-hover-before-bg);
    }

    /* Rounded sliders */
    &.round {
        border-radius: 34px;

        &::before {
            border-radius: 50%;
        }
    }
}