@use '../abstracts' as a;

html {
    min-height: 100vh;
}

body {
    position: relative;
    @include a.flexbox($direction: column, $align: center, $justify: center);
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    background: var(--background-mobile);
    color: var(--White);
    min-height: 100vh;

    @include a.bp($from: "tablet") {
        background: var(--background-tablet);
    }

    @include a.bp($from: "desktop") {
        background: var(--background-desktop);
    }

    @include a.bp($from: "tablet", $to: "desktop") {
        padding-block: clamp(a.rem(64), -1.4286rem + 11.3095vw, a.rem(140));
    }
}

.bold {
    font-weight: var(--fw-medium);
}

h1 {
    margin: 0;
}

.hide {
    display: none !important;
}

input[type="radio"] {
    display: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}