@use '../abstracts' as a;

/* 
grid-layout(
$areas-mobile, $areas-desktop, 
$rows-mobile: auto, $rows-desktop: auto, 
$row-gap-mobile, $col-gap-mobile, 
$row-gap-desktop, $col-gap-desktop
) 
*/

// Intro layout
.quiz--intro-layout {
    @include a.grid-layout("intro" "subjects-form",
        "intro subjects-form" "intro subjects-form",
        auto auto,
        auto auto,
        0,
        clamp(1.5rem, -28rem + 40vw, 3rem),
        0,
        clamp(1.5rem, -28rem + 40vw, 3rem));

    &__intro {
        grid-area: intro;
    }

    &__subjects-form {
        grid-area: subjects-form;
    }
}

// Question layout
.quiz--question-template-layout {
    @include a.grid-layout("question-header" "progress-bar" "choices-form",
        "question-header choices-form" "progress-bar choices-form",
        auto auto auto,
        auto auto,
        0,
        clamp(2.5rem, -28rem + 40vw, 5rem),
        0,
        clamp(1.5rem, -28rem + 40vw, 3rem));

    .quiz__question-header {
        grid-area: question-header;
    }

    .quiz__progress-bar {
        grid-area: progress-bar;
    }

    .quiz__choices-form {
        grid-area: choices-form;
    }
}

// Complete layout
.quiz--complete-template-layout {
    @include a.grid-layout("complete-header" "complete-container",
        "complete-header complete-container" "complete-header complete-container",
        auto auto,
        auto auto,
        clamp(1.5rem, -28rem + 40vw, 3rem),
        clamp(1.5rem, -28rem + 40vw, 3rem),
        clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem),
        clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem));

    .quiz__complete-header {
        grid-area: complete-header;
    }

    .quiz__complete-container {
        grid-area: complete-container;
    }
}