@use '../abstracts' as a;

.quiz--intro-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "intro"
        "subjects-form";
    gap: 0 clamp(1.5rem, -28rem + 40vw, 3rem);

    &__intro {
        grid-area: intro;
    }

    &__subjects-form {
        grid-area: subjects-form;
    }

    @include a.bp($from: "desktop") {

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "intro subjects-form"
            "intro subjects-form";

    }
}

.quiz--question-template-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "question-header"
        "progress-bar"
        "choices-form";
    gap: 0 clamp(2.5rem, -28rem + 40vw, 5rem);


    .quiz__question-header {
        grid-area: question-header;
    }

    .quiz__progress-bar {
        grid-area: progress-bar;
    }

    .quiz__choices-form {
        grid-area: choices-form;
    }

    @include a.bp($from: "desktop") {

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "question-header choices-form"
            "progress-bar choices-form";
    }
}

.quiz--complete-template-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "complete-header"
        "complete-container";
    gap: 0 clamp(1.5rem, -28rem + 40vw, 3rem);

    .quiz__complete-header {
        grid-area: complete-header;
    }

    .quiz__complete-container {
        grid-area: complete-container;
    }

    @include a.bp($from: "desktop") {

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "complete-header complete-container"
            "complete-header complete-container";
        gap: clamp(2.5rem, 1.0687rem + 6.1069vw, 4rem);
    }
}