@use '../abstracts' as a;

.wrapper {
    width: min(a.rem(1440), 100% - a.rem(40));
    margin-inline: auto;
    padding-inline: 0;

    @include a.bp($from: "tablet") {
        padding-inline: clamp(a.rem(64), -1.4286rem + 11.3095vw, a.rem(140));
    }
}